%button {
	border-radius: 0.5em;
	font-size: inherit;
	line-height: 1em;
	padding: 1em 1.5em;
	border: none;
	display: inline-block;
	width: auto;
	background-color: color(IceDark, 0.5);
	&:focus {
		outline: none;
		background-color: color(Blue);
	}
	&[disabled] {
		opacity: 0.5;
	}
}
.button {
	@extend %button;
}
